* {
    box-sizing: border-box;
    margin:0;
    padding:0
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

.bg-yellow{
    background-color:#EAC926;
}

.bg-light-grey{
    background-color:#ebebeb;
}

.bg-white{
    background-color:#ffffff
}

.bg-blue{
    background-color:#03264C;
}

.c-white{
    color:white
}

.c-grey{
    color:#666;
    opacity:0.5;
}

.c-green{
    color:#39b54a;
}

.c-lightblue{
    color: #1259c3;
}

.menu-hamburguesa{
    background-color:#1259c3;
    color:white;
    font-size:2em;
    padding:10px;
    border-radius:5px;
}

.precios-18{
    font-size:18px
}

.descuentos-16{
    font-size:16px
}

.titulares{
    font-size:24px
}

.descripciones{
    font-size:16px
}

.cuerpos-de-texto{
    font-size:12px
}

.sacar-subrayado{
    text-decoration:none;
    color:#666;
}

.negrita{
    font-weight: bold;
}

.t-center{
    text-align:center
}

.t-left{
    text-align:left
}

.tamaño-icono{
    font-size:2em;
}

.tamaño-12{
    font-size:12px
}

.interlineado-icono-inferior{
    line-height-step:10px;
}

.ancho-30{
    width:30%
}

.ancho-50{
    width:50%;
}

.ancho-70{
    width:70%;
}

.ancho-90{
    width:90vw;
}

.ancho-100{
    width:100%;
}

.p-0{
    padding:0;
}

.p-10{
    padding:10px;
}

.p-15{ 
    padding:15px
}

.p-20{
    padding:20px
}

.p-bottom{
    padding-bottom:10px;
}

.p-rigth{
    padding-right:8px;
}

.p-left{
    padding-left:8px
}

.p-tb{
    padding:10px 0px;
}

.m-auto{
    margin:auto;
}

.m-10{
    margin-bottom:10px;
}

.m-top{
    margin-top:20px
}

.m-rigth{
    margin-right: 10px;
}
.m-tb-10{
    margin-top:10px;
    margin-bottom:10px;
}

.m-tb-20{
    margin-top:20px;
    margin-bottom:20px;
}

.imagen-tamaño{
    width:100%;
}

.border-grey{
    border: solid 1px #ebebeb;
}

.relative{
    position: relative;
}

.icono-track{
    font-size: 16px;
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: -15px;
}

.ocultar{
    display:none;
}

.flex{
    display:flex;
    flex-wrap:wrap;
}

.flex-grow {
    flex-grow: 1;
}

.container-1{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.a-self{
    align-self: center;
}

.creat-form{
    margin-top:40px;
    margin-bottom:40px;
    padding:20px;
}

.campo-form{
    margin-bottom:20px;
    text-align: center;
}

.campo-form label{
    margin-bottom: 10px;
    display: block;
}

.campo{
    width:100%;
    padding:5px;
    border:solid 1px #ebebeb;
    border-radius: 5px;
    height:35px;
    text-align: center;
}

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-form{
    width: 20%;
    margin:10px;
    border-radius: 5px;
    border-color: #ebebeb;
}

.b-radius{
    border-radius: 5px;
}

.b-none {
    border: none;
}

.ejemplo{
    border: solid 2px red;
}

@media(min-width:768px) {
    /*tablets*/

    .md-nav{
        display:block
    }

    .md-descripcion{
        display:block;
    }

    .md-sombra{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .md-menu-hamburguesa{
        display:none;
    }

    .md-tamaño{
        width: 45%;
    }

    .md-ancho{
        width: 27%;
    }

    .container-1{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
        text-align: center;
        margin-bottom:20px;
    }

    .container-1 p{
        font-size: 16px;
    }

    .container-2{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .nav-container{
        display:flex;
        justify-content: space-between;
    }

    .nav-container ul{
        display: flex;
    }

    .nav-container li{
        margin: 0 10px;
        font-size:14px
    }

    .md-width-form{
        width: 70%;
    }

}


@media(min-width:1280px) {
     /*desktop*/

    .container-1{
        display:flex;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        margin-bottom:20px;
    }

    .md-tamaño{
        width: 23%;
    }

    .md-ancho{
        width:33%;
    }

    .container-2{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .nav-container li{
        margin: 0 10px;
        font-size:16px
    }
}
