<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul type="circle">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul type="circle">
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    
    <section>
        <strong>Basado en tu ultima visita</strong>
        
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de una cafetera">
            <article>Cafetera Moulinex</article>
            <article>$6.770</article>
            <article>40% OFF</article>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">
            <article>MacBook Pro 2019</article>
            <article>$230.000</article>
            <article>20% off</article>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
            <article>Samsung Galaxy S10</article>
            <article>$70.500</article>
            <article>10% off</article>
        </article>

        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen del Smart TV">
            <article>SmartTv Samsung 43"</article>  
            <article>$23.200</article>
            <article>5% off</article>
        </article>
    </section>
    
    <p></p>

    <section>
        <strong>Sección de Ofertas</strong>
    
        <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de una cafetera">
        <article>Cafetera Moulinex</article>
        <article>$6.770</article>
        <article>40% off</article>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">
            <article>MacBook Pro 2019</article>
            <article>$230.000</article>
            <article>20% off</article>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
            <article>Samsung Galaxy S10</article>
            <article>$70.500</article>
            <article>10% off</article>
        </article>
        
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen del Smart TV">
            <article>SmartTv Samsung 43"</article>  
            <article>$23.200</article>
            <article>5% off</article>
        </article>
    </section>
    </header>

    <footer>
        <ul>
            <li>
                <strong>Pagá con tarjeta o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </li>


            <li>
                <strong>Envío gratis desde $ 2.500</strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </li>

            <li>
                <strong>Seguridad, de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </li>

            <p> </p>

            <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
        </ul>

    </footer>
</body>
</html>